.gallery img{width:100%;}
h4 {color: rgb(6, 195, 253);}
#menu{
    width:100% ;
    height: 40px;
    background-color: aqua;
    padding-top: 10px;
}
#menu a{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: wavy;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: azure;
}